<div class="analytics-container">
  <div class="chart-container">
    <div class="single-chart">
      <h2>Total Transaction Chart</h2>
      <canvas
        baseChart
        [data]="totalChartData"
        type="line"
        class="totalChart"
        [options]="options"
      ></canvas>
      <h2>Average Transaction Chart</h2>
      <canvas
        baseChart
        type="line"
        [data]="averageChartData"
        class="averageChart"
        [options]="options"
      >
      </canvas>
      <h2>Response time</h2>
      <canvas
        baseChart
        type="line"
        [data]="responseTimeData"
        class="averageChart"
        [options]="options"
      >
      </canvas>
      <h2>Transactions by region</h2>
      <canvas
        baseChart
        [data]="regionChartData"
        type="pie"
        class="totalChart"
        [options]="options"
      >
      </canvas>
    </div>
  </div>
  <div class="card-flex-justify-center">
    <div class="sliders">
      <!-- Label for the first slider -->
      <label for="slider1">Number of transactions</label>
      <mat-slider
        id="slider1"
        min="1000"
        max="20000"
        step="100"
        showTickMarks
        discrete
        vertical
      >
        <input matSliderThumb [(ngModel)]="minValue">
      </mat-slider>

      <!-- Label for the second slider -->
      <label for="slider2">Seconds</label>
      <mat-slider
        id="slider2"
        min="0"
        max="10"
        step="1"
        showTickMarks
        discrete
      >
        <input matSliderThumb [(ngModel)]="maxValue">
      </mat-slider>
    </div>
    <div class="material-button">
      <button mat-flat-button (click)="sendTransactionLimitsToBackend()">Set</button>
    </div>
  </div>

</div>
