body {
  background-color: white;
  color: black;
}

.analytics-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 30px;
  margin-left: 5px;
}

.chart-container{
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  border-radius: 8px;
  border: 1px solid #ccc;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.single-chart {
  display: flex;
  flex-direction: row;
  width:100%;
}

canvas{
  border: 1px solid #ccc;
  border-radius: 8px;
}

totalChart {
  background-color: #f0f0f0;
}

averageChart {
  background-color: #ffffe0;
}
.card-flex-justify-center{
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: lightgray;
  padding: 5px;
}
.card-flex-justify-center mat-slider{
  width: 45%;
}
.sliders{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: cyan;
  border-radius: 6px;
}
.sliders label{
  margin: 5px;
  font-weight: bolder;
}
.material-button{
  display: flex;
  justify-content: center;
  padding: 5px;
  font-size: 15px;
}

