<div class="analytics-container">
  <div class="transactions-container">
    <h2>Live Transactions</h2>
    <ul class="transactions-list">
      <li *ngFor="let transaction of transactions; let i = index"
          class="transaction-item">
        <p><strong>ID:</strong> {{ transaction.id }}</p>
        <p><strong>User ID:</strong> {{ transaction.userId }}</p>
        <p><strong>Date:</strong> {{ transaction.createdDate | date:'short' }}</p>
        <p><strong>From Account:</strong> {{ transaction.fromAccountId }}</p>
        <p><strong>To Account:</strong> {{ transaction.toAccountId }}</p>
        <p><strong>Amount:</strong> {{ transaction.amount | currency }}</p>
      </li>
    </ul>
  </div>
  <div class="chart-container">
    <h2>Total Transaction Chart</h2>
    <canvas
      baseChart
      [data]="totalChartData"
      type="bubble"
      class="totalChart"
      [options]="options"
    ></canvas>
    <h2>Transactions by region</h2>
    <canvas
      baseChart
      [data]="regionChartData"
      type="pie"
      class="totalChart"
      [options]="options"
    ></canvas>
  </div>
  <div class="chart-container">
    <h2>Average Transaction Chart</h2>
    <canvas
      baseChart
      type="line"
      [data]="averageChartData"
      class="averageChart"
      [options]="options"
    >
    </canvas>
    <h2>Bank collapse</h2>
    <canvas
      baseChart
      type="line"
      [data]="bankCollapseData"
      class="averageChart"
      [options]="options"
    >
    </canvas>
  </div>
  <div class="card-flex-justify-center">
    <div class="sliders">
      <!-- Label for the first slider -->
      <label for="slider1">MIN</label>
      <mat-slider
        id="slider1"
        min="-1000"
        max="0"
        step="10"
        showTickMarks
        discrete
        vertical
      >
        <input matSliderThumb [(ngModel)]="minValue">
      </mat-slider>

      <!-- Label for the second slider -->
      <label for="slider2">MAX</label>
      <mat-slider
        id="slider2"
        min="1"
        max="1000"
        step="10"
        showTickMarks
        discrete
      >
        <input matSliderThumb [(ngModel)]="maxValue">
      </mat-slider>
    </div>
    <div class="material-button">
      <button mat-flat-button (click)="sendTransactionLimitsToBackend()">Set</button>
    </div>
  </div>

</div>
