<div class="analytics-container">
  <div class="chart-container">
    <div
         #chartElement
         class="single-chart"
         [class.active]="isActive('totalTransaction')"
         (click)="setActiveChart('totalTransaction',0)"
    >
      <h2>Total Transaction Chart</h2>
      <canvas
        baseChart
        [data]="totalChartData"
        type="line"
        class="totalChart"
        [options]="options"
      ></canvas>
    </div>
    <div
         #chartElement
         class="single-chart"
         [class.active]="isActive('averageTransaction')"
         (click)="setActiveChart('averageTransaction',1)"
    >
      <h2>Average Transaction Chart</h2>
      <canvas
        baseChart
        type="line"
        [data]="averageChartData"
        class="averageChart"
        [options]="options"
      >
      </canvas>
    </div>
    <div
         #chartElement
         class="single-chart"
         [class.active]="isActive('responseTime')"
         (click)="setActiveChart('responseTime', 2)"
    >
      <h2>Response time</h2>
      <canvas
        baseChart
        type="line"
        [data]="responseTimeData"
        class="averageChart"
        [options]="options"
      >
      </canvas>
    </div>
    <div
         #chartElement
         class="single-chart"
         [class.active]="isActive('transactionRegion')"
         (click)="setActiveChart('transactionRegion',3)"
    >
      <h2>Transactions by region</h2>
      <canvas
        baseChart
        [data]="regionChartData"
        type="bar"
        class="totalChart"
        [options]="options"
      >
      </canvas>
    </div>
    </div>
  </div>
  <div class="card-flex-justify-center">
    <div class="sliders">
      <!-- Label for the first slider -->
      <label for="slider1">Number of transactions</label>
      <mat-slider
        id="slider1"
        min="1000"
        max="20000"
        step="100"
        showTickMarks
        discrete
        vertical
      >
        <input matSliderThumb [(ngModel)]="minValue">
      </mat-slider>

      <!-- Label for the second slider -->
      <label for="slider2">Seconds</label>
      <mat-slider
        id="slider2"
        min="0"
        max="10"
        step="1"
        showTickMarks
        discrete
      >
        <input matSliderThumb [(ngModel)]="maxValue">
      </mat-slider>
    </div>
    <div class="material-button">
      <button mat-flat-button (click)="sendTransactionLimitsToBackend()">Set</button>
    </div>
  </div>
